:root {
  --nav-bullet-size: 100px;
}

body{
  background-color: rgb(45, 45, 45);
}

.carousel-wrapper {
  position: relative;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 40px;
}

.viewing-window {
  position: absolute;
  top: 0px;
  left: 1px;
  /* border: inset red 5px; */
}

.carousel {
  position: relative;
  width: 600px;
  height: 500px
  /* width: 40%;
  height: 30%;
  max-width: 600px;
  max-height: 500px; */
}
.carousel-item{
  flex: 1 1 0;
/* border : solid 5px black; */
box-shadow:rgb(62, 135, 209);
  margin: 50px;
}

.nav-container {
  display: flex;
}

* .nav-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* gap: 10px; */
}

.nav-dot {
  list-style-type: circle;
  font-size: var(--nav-bullet-size);
}

.nav-dot.selected {
  list-style-type: disc;
  font-size: var(--nav-bullet-size);
  color: darkblue;
}

.carousel-item {
  display: none;
}


.carousel-item.selected {
  /* outline:15px solid red; */
  display:block
}

.nav-minimap {
  display: flex;
  gap: calc(var(--nav-bullet-size) / 2);
}

.button-container {
  display: flex;
  gap: 30px;
  justify-content: center;
}
